*,
*:before,
*:after {
  box-sizing: border-box;
}

.store {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0;
}
.store .searchbar {
  flex-basis: 100%;
  padding-bottom: 10px;
  position: relative;
}
.store .searchbar input {
  width: 100%;
  height: 50px;
  appearance: none;
  color: #999;
  font-style: italic;
  outline: none;
  border: 1px solid #999;
  font-size: 1.75rem;
  padding: 0 45px 0 15px;
}
.store .searchbar input::placeholder {
  color: #d7d7d7;
}
.store .searchbar .clear {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 50px;
  cursor: pointer;
}
.store .searchbar .clear:hover:before, .store .searchbar .clear:hover:after {
  background: black;
}
.store .searchbar .clear:before, .store .searchbar .clear:after {
  content: "";
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background: #777;
  position: absolute;
  left: 50%;
  top: 50%;
}
.store .searchbar .clear:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.store .searchbar .clear:after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.store .sort-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}
.store .sort-dropdown p {
  margin: 0 10px 0 0;
}
.store .sidebar {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 100%;
  background: #eee;
  padding-left: 6px;
  padding-top: 6px;
}
.store .sidebar .filter {
  flex-basis: 100%;
  background: #fff;
  text-align: center;
  padding: 15px 0;
  transition: all 0.25s;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}
.store .sidebar .filter:hover {
  background: #888;
  color: #fff;
}
.store .sidebar .filter.selected {
  background: #000;
  color: #fff;
}
.store .results {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  height: 100%;
}
.store .results .inventory {
  flex-basis: 20%;
  background: #eee;
  text-align: center;
  border: 1px solid;
  padding: 15px;
  margin: 0 10px 10px;
}
.store .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.store .pagination .btn {
  margin: 0 15px;
}
.store .cart {
  width: 100%;
  border-top: 1px dashed;
}
.store .cart-items.visible {
  display: block;
}
