.store {
  display: flex;
}
.store .sidebar {
  display: flex;
  width: 20%;
  height: 100%;
  background: #eee;
}
.store .sidebar .filter {
  flex-basis: 50%;
  background: #fff;
  text-align: center;
  padding: 25px 0;
  margin: 10px;
  transition: all 0.25s;
  cursor: pointer;
}
.store .sidebar .filter:hover, .store .sidebar .filter.selected {
  background: #000;
  color: #fff;
}
.store .results {
  display: flex;
  width: 80%;
  height: 100%;
  background: pink;
}
.store .results .inventory {
  background: #eee;
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
}
