.store {
    display: flex;
    .sidebar {
        width: 30%;
        height: 100%;
        background: yellow;
    }
    .results {
        display: flex;
        width: 70%;
        height: 100%;
        background: pink;
        .inventory {
            background: #eee;
            flex-basis: 20%;
            margin: 10px;
            text-align: center;
        }
    }
}
